.row {
    /* border: 2px solid red; */
}

body{
    background-color: blueviolet;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one 🙂       */
    display: flex;
    align-items: center;
}

.container {
    border: 4px dashed grey;
    padding: 20px;


}

#current-score,  #random-number  {
    font-size: 48px;
    border: 1px solid grey;
    padding: 10px;
    margin: 20px;
    background-color: aquamarine;

}